body {
	background-color: rgba(145, 145, 145, 1);
	margin: 0;
    padding: 0;
	font-family: Gadugi;
}

/*  -------------------------------------------  Bakom sidan */

.headerbild {
   max-width: 100%;
    width: 100%;
    height: 400px;
    background-image: url('Images/headerbild.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hidden {
    visibility: hidden;
}


/* ---------------------------------------------- Toppen på sidan */

.container{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

#main_väljPerson a{
    padding: 0% 3%;
    margin: 9%;
    border-radius: 6px;
    background-color:lightgrey;
    text-decoration: none;
    color: black;
    }

#main_väljPerson a:hover{

        background-color:darkgray;
    }


.headerbildCurrent {
 /*Här ska det ligga en bild för aktuell sida, tillkommer senare*/
}

.header {
    position: fixed;
    top: 0px;
    background-color: rgba(246, 246, 246, 0.75);
    padding: 0px 0px 0px 0px;
    border-bottom: 2px outset rgba(130, 130, 130, 0.95);
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    z-index: 10;
    transition: height 0.01s linear 0s, width 0.01s linear 0s;
	overflow:hidden;
}

.header img{
    display: inline;
    /*max-width: 20%;
    height: auto;*/
    width: 200px;
    height: 60px;
    margin-left: 43px;
    margin-top: 10px;
}
  
.header .text {
    
    padding: 5px;
    background-color: #f3eeee;
    border-radius: 30px;
    position:relative;
    visibility:hidden;
    display: inline;
    margin-left: 10%;
        
}

.header:hover .text{ 
    
    visibility:visible;
}


.nav {
    background-color: none;
    padding: 0 0 0 0;
    margin: 0 auto 50px auto;
    display: inline;
}

.nav ul {
    margin: 0 auto;
    display: inline;
}


.nav ul li {
	display: inline-block;
	list-style-type: none;
	padding: 10px 17.5px 12px 17.5px;
    background-color: rgba(170, 170, 170, 1);
    margin: 0 -8px 0 0;
    border-top: 2px ridge rgba(130, 130, 130, 0.95);
    border-right: 2px solid rgba(130, 130, 130, 0.95);
    border-left: 2px solid rgba(130, 130, 130, 0.95);
}

.nav ul li a{
	color: white;
    text-decoration: none;
    margin: 0 auto;
}

.nav ul li:hover {
    background-color: rgba(145, 145, 145, 1);
}

.nav .current {
	color: rgba(255, 69, 0, 0.65);
    text-decoration: none;
}

.current {
	color: #e37500;
}

#loggaut {
    float: right;
    border: 2px solid rgba(130, 130, 130, 0.95);
}


/* --------------------------------------------------------- Mitten på sidan */

.main{
    background-color: #f0f0f0;
    margin: 0px 0 0px 0;
    border-top: 2px inset rgba(130, 130, 130, 0.95);
    border-bottom: 2px outset rgba(130, 130, 130, 0.95);
    width: 100%;
}

.grid {
	background-color: #e0e0e0;
	float: left;
    margin: .75%;
    width: auto;
    padding: 0 .5% 0 .5%;
    border: .5px solid rgba(72, 72, 72, 0.50);
    border-radius: 5px;
    color: black;
}

.gridFloatRight {
	height: 250px;
	float: left;
    margin-right: 1.66666666%;
    width: 20%;
}

.subnavigering {
    list-style-type: none;
    width: 14.5%;
    height: 120px;
    position: absolute;
    z-index: 1;
    
}


.subnavigering ul li{
    list-style-type: square;
}

.subnavigering ul li a{
    color: rgb(172, 46, 0);
    text-decoration: none;

}

.gridMiddle {
    width: 60%;
    height: inherit;
    margin-left: 18.9%;
    
}

.gridRight {
    width: 14.5%;
    height: 180px;
    position: absolute;
    margin-left: 82.5%;
    visibility:hidden;
    
}


#main_frågeform {
    padding: 5px;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    border: 1px inset rgba(40, 40, 40, 0.90);
}

#main_frågeform h4{
    margin: 0 auto;
    max-width: 60%;
    text-align: center;
}

#main_fråga p {
    margin: 2% auto;
    max-width: 100%;
    text-align: center;
}
#main_fråga .frågaKategori {
    font-style:italic;
    font-size: smaller
}
#main_fråga .frågaRubrik {
    
    font-size: medium;
    margin-bottom: 4%;
}
#svarsalternativ ul{
        margin: 0 auto;
        margin-left: 30%;
        padding: 0;
}
#svarsalternativ li{
    list-style-type: none;
    border

}
#svarsalternativ li label:hover {
    background-color: rgba(170, 170, 170, 0.5)
    
}
#svarsalternativ li input:hover {
    background-color: rgba(170, 170, 170, 0.5)
}

#svarsalternativ li label{
    display: inline;
    margin-left: 1%;
    max-width: 1px;
    border-radius: 3px;
}

#varjeFråga{

    border-top: 1px solid black;
}


/* ----------------------------------------------------------- Botten på sidan */

.footer {
	background-color: rgba(145, 145, 145, 1);
    height: auto;
    width: 100%;
    max-width: 100%;
    z-index: 1;
}

.footer img{  /*Används EJ i nuläget*/
    /*position: relative;
    display: inline;
    width: 200px;
    height: 60px;
    margin-top: 1px;
    margin-left: 45px;
    margin-right: 100px;*/
    display: none;
}

.footerGrids{
    display: inline;
    top: 0px;
    margin-left: 10%;
}

.fGrid{
    padding: 0 0 0 0;
    display: inline-block;
    margin-right: 100px;
}

.fGrid .mindreText{
    font-size: small;
    margin-top: 10px;
    margin-left: 5px;
}

.infoOmSite{
    font-size: 70%;
    color: #313131;
    text-align: center;
}



.clearfix:before, .clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.clearfix{*zoom: 1;}